@import './Photo.scss';
@import './breakpoint.scss';
@import './mixin.scss';

.grid-container {
    display: contents;
    grid-gap: 20px 20px;
    padding: 10px;
    justify-content: center;
    grid-template-columns: 254px 254px 254px;
    grid-template-rows: 354px auto 354px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 35px;
    @include breakpoint (desktop) {
        display: grid;
     }
}