@import './breakpoint.scss';
@import './mixin.scss';

.grid-item {
    margin: 20px 0px;
    text-align: center;
    border: 1px solid #F9F2F2;
    border-radius: 5px;
    box-shadow: 4px 2px 4px 2px #ECECEC;
    @include breakpoint (desktop) {
        margin: none;
    }
    
    img {
        width: 250px;
        height: 250px;
    }
}

