.search-input {
  width: 200px;
  border-radius: none;
  color: white;
  // background-image: url("https://reactjs.org/search.svg");
  background-size: 16px 16px;
  background-color: transparent;
  height: 14px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #756b6b;
  font-size: 0.9rem;
  &:hover {
    cursor: text;
  }
}
