.account {
 	button {
    position: fixed;
    right: 2%;
    margin-top: 18px;
	}
	.MuiButtonBase-root{
    border: 1px solid rgba(129,151,164,.5);
		background-color: rgba(15,23,30,.2);
		color: #ffff;
	}
}