.nav-wrapper {
  padding-top: 15px;
  margin-left: 80px;
  a {
    color: white !important;
      display: inline-block;
      width: auto;
      padding: 0;
      margin: 8px;
      font-weight: 300;
      text-decoration: none;
  }
}