.search {
  .MuiSvgIcon-root {
    margin-top: 24px;
    position: fixed;
    right: 21%;
  }

  .cancel-button {
    right: 180px;
  }

  .search-suggestions {
    margin: 40px;
    ol {
      background: #252e39;
      position: fixed;
      width: 215px;
      right: 10%;
      padding: 0px;
      li {
        list-style: none;
        line-height: 20px;
        word-wrap: break-word;
        width: auto;
        padding: 14px 48px 14px 24px;
        border-bottom: 1px solid #323e4c;
        box-sizing: inherit;
        &:hover {
          cursor: pointer;
          background: rgb(63, 81, 100);
        }
        a {
          font-size: inherit;
          line-height: inherit;
          outline: 0;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .search-input {
    outline: white;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(129, 151, 164, 0.5);
    background-color: rgba(15, 23, 30, 0.2);
    font-size: 17px;
    line-height: 24px;
    padding: 7px 10px 7px 34px;
    margin-top: 15px;
    position: fixed;
    right: 10%;
    color: white;
  }
}
